<h1>Listing all Teams</h1>
<table style="width:80%">
 <tr>
 	<th>ID</th>
  <th>Title</th>
  <th>Member</th>
  <th>Role</th>
 </tr>
 <% @teams.each do |team| %>
 <tr>
 	<td><%=team.id %></td>
  <td><%= team.title %></td>
  <td><%= team.member %></td>
  <td><%= team.role %></td>
  <td><%= link_to 'Show', user_team_path(current_user,team.id) %></td>
  <td><%= link_to 'Edit', edit_user_team_path(current_user,team.id) %></td>
  <td><%= link_to 'Delete', user_team_path(current_user,team.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
 </tr>
 <% end %>
</table>
<%#= link_to 'Back', user_teams_path(user_id:current_user.id) %>