<h1>Edit Task</h1>
<%= form_for [@task, :team_id] do |f| %>
	<p>
	 	<%= f.label :name %><br>
	 	<%= f.text_field :name %>
	<p>
	<p>
	 	<%= f.label :duration %><br>
	 	<%= f.text_field :duration %>
	</p>
	<p>
	 	<%= f.label :status %><br>
	  <%= f.text_field :status %>
	</p>
  	<%= f.submit %>
  </p>
<% end %>