	<%= form_for [current_user,@team, @project, @task] do |f| %>
	<p>
	 	<%= f.label :name %><br>
	 	<%= f.text_field :name %>
	<p>
	<p>
	 	<%= f.label :duration %><br>
	 	<%= f.text_field :duration %>
	</p>
	<p>
	 	<%= f.label :status %><br>
	  <%= f.text_field :status %>
	</p>
  	<%= f.submit %>
  </p>
<% end %>