
 <header class=".bg-blue-400 text-white">
    <div class="container text-left">
      <h1>Edit Projects</h1>
      <%= form_for [@project, :team_id] do |f| %>
          <h1><%= f.label :name %></h1>
          <h2><%=f.text_field :name%></h2>

          <h1><%= f.label :start_date %></h1>
          <h2><%=f.text_field :start_date %></h2>

          <h1><%= f.label :end_date %></h1>
          <h2><%=f.text_field :end_date%></h2>

          <div class="form-group">
            <%=f.submit class: " btn btn-primary btn-lg"%>
          </div>
            <% end %>
    </div>
  </header>