<h1>Your Project</h1>
<table id="customers">
<tr>
  <th>Name</th>
  <th>Start Date</th>
  <th>End Date</th>
  <th>Create Task</th>
  <th>Show Task</th>
</tr>
<br>
<tr>
  <td><%= @project.name %></td>
  <td><%= @project.start_date %></td>
  <td><%= @project.end_date %></td>
  <% if @team.project.tasks.blank? %>
    <td><button class="button button1"><%= link_to "Create Task",new_user_team_project_task_path(current_user, @team.id, @project.id)  %></button></td>
  <% else %>
    <td><button class="button button1"><%= link_to "Create Task",new_user_team_project_task_path(current_user, @team.id, @project.id)  %></button></td>
    <td><button class="button button2"><%= link_to "Show Task",user_team_project_tasks_path(current_user, @project.team_id, @project.id) %></button></td>
  <% end %>
</tr>
</table>




