<h1>Your project</h1>
<table style="width:80%; margin-left: 20px;">
 <tr>
  <th>Name</th>
  <th>Start Date</th>
  <th>End Date</th>
  <th>Create Task</th>
  <th>Show Task</th>
</tr>
<br>
<tr>
  <td><%= @project.name %></td>
  <td><%= @project.start_date %></td>
  <td><%= @project.end_date %></td>
  <% if @team.project.tasks.blank? %>
  	<td><%= link_to "Create Task",new_user_team_project_task_path(current_user, @team.id, @project.id)  %></td>
  <% else %>
    <td><%= link_to "Create Task",new_user_team_project_task_path(current_user, @team.id, @project.id)  %></td>
    <td><%= link_to "Show Task",user_team_project_tasks_path(current_user, @project.team_id, @project.id) %></td>
  <% end %>
</tr>
</table>